h3 {
  cursor: default;
  user-select: none;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #0984e3;
}

input {
  padding-top: 15px;
  padding-bottom: 200px;
}

#form {
  margin-top: 60px;
}

::placeholder {
  color: #0860a3c0;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Didact Gothic', sans-serif; */
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.input-1 {
  padding-left: 25px;
  border: 1px solid #0985e39c;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.input-1:hover {
  box-shadow: 0px 0px 40px 5px #0984e3;
}

#btns {
  margin-top: 0px;
  margin-bottom: 100px;
}

.input-2 {
  /* margin-right: 10px; */
  margin-bottom: 20px;
  margin-top: 20px;
  border: none;
  color: #0984e3;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  transition: all 0.5s ease;
  /* transition-delay: 1s; */
}

.input-2:hover {
  box-shadow: 0px 0px 50px 3px #0984e3;
  background-color: #0984e3;
  color: #fff;
}

.input-3 {
  /* margin-left: 10px; */
  /* margin-bottom: 60px; */
  border: none;
  color: #0984e3;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  transition: all 0.5s ease;
  /* transition-delay: 1s; */
}

.input-3:hover {
  box-shadow: 0px 0px 50px 3px #0984e3;
  background-color: #0984e3;
  color: #fff;
}

footer p {
  color: #056ebe;
  opacity: 0.6;
  font-size: 14px;
}
