// O'zimizga kerakli bo'lgan fontlarni ulab olamiz
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Nunito:wght@600&family=Poppins:wght@600&display=swap");

$p-color: #1e90ff;
$p-font: "Nunito", sans-serif;

body {
  background-color: #2f3640;
}

#translate-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  #label {
    color: $p-color;
    font-size: medium;
    padding-bottom: 35px;
    font-weight: 400;
    b {
      font-weight: 700;
      font-size: 40px;
    }
  }
  #text-area {
    min-height: 200px;
    background-color: transparent;
    border: 2px solid $p-color;
    padding: 20px 20px;
    color: $p-color;
    margin-bottom: 35px;
    transition: all 0.5s ease;
    &:hover {
      box-shadow: 0px 0px 60px 5px $p-color;
    }
    &:focus {
      box-shadow: 0px 0px 60px 5px $p-color;
    }
    &::placeholder {
      color: #ced6e0;
      opacity: 0.5;
      font-family: $p-font;
      letter-spacing: 1px;
    }
  }
  #btns {
    button {
      margin: 20px 25px;
      color: $p-color;
      border-radius: 0px;
      position: relative;
      padding: 10px 20px;
      font-family: $p-font;
      overflow: hidden;
      transition: 0.5s ease;
      transition-delay: 0.5s;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        content: "";
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        transition: all 0.5s ease;
      }
      &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: "";
        width: 10px;
        height: 10px;
        border-bottom: 2px solid transparent;
        border-right: 2px solid transparent;
        transition: all 0.5s ease;
      }

      &:hover {
        background-color: $p-color;
        color: #ced6e0;
      }

      &:hover::before {
        border-top-color: $p-color;
        border-left-color: $p-color;
        width: 100%;
        height: 100%;
      }

      &:hover::after {
        border-bottom-color: $p-color;
        border-right-color: $p-color;
        width: 100%;
        height: 100%;
      }
    }
  }
  #about {
    margin-top: 120px;
    p {
      color: $p-color;
      font-size: 12px;
    }
  }
}
