@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Nunito:wght@600&family=Poppins:wght@600&display=swap");

$p-color: #1e90ff;
$p-font: "Nunito", sans-serif;

body {
  background-color: #3d3d3d;
}

#translate-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .label {
    margin-top: 30px;
    font-size: 24px;
    color: $p-color;
    b {
      font-size: 44px;
    }
  }
  #place {
    margin-top: 20px;
    min-height: 300px;
    background-color: transparent;
    padding: 20px 30px;
    outline: none;
    resize: none;
    color: #fff;
    border: 2px solid #636e72;
    transition: all 0.3s ease;
    &:hover {
      border-color: $p-color;
    }
    &:focus {
      box-shadow: 0px 0px 50px 10px $p-color;
    }
    &:focus::placeholder {
      color: transparent;
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.473);
    }
  }
  #btns{
    margin: 45px 10px 0px;
    .btn{
      color: #636e72;
      border: 2px solid #636e72;
      border-radius: 0px;
      margin: 10px 40px;
      transition: all 0.5s ease;
      &:hover{
        color:$p-color;
        border-color: $p-color;
      }
      &:focus{
        background-color: $p-color;
        color: #fff;
      }
    }
  }
  footer{
    margin-top: 50px;
    p{
      color: rgba(255, 255, 255, 0.541);
      a{
        color: $p-color;
      }
    }
  }
}
